# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
db.sqlite3
*.pyc
venv
.idea/
settings_local.py
flower
celery_demo.log
